<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">

	<h2>게시글 상세 화면</h2>

	<form id="frm" method="post">
	
	<table class="board_detail">
		<colgroup>
		 <col width="15%"/>
		 <col width="35%"/>
		 <col width="15%"/>
		 <col width="35%"/> 
		</colgroup>
		<caption>게시글 상세 내용</caption>
		<tbody>
			<tr>
				<th scope="row">글 번호</th>
				<td th:text="${boardDto.boardIdx}"></td>
				<th scope="row">조회수</th>
				<td th:text="${boardDto.hitCnt}"></td>
			</tr>
			
			<tr>
				<th>작성자</th>
				<td th:text="${boardDto.createdId}"></td>
				<th>작성일</th>
				<td th:text="${#temporals.format(boardDto.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
			
			<tr>
				<th scope="row">제목</th>
				<td colspan="3">
					<input type="text" id="title" name="title" th:value="${boardDto.title}">
				</td>
			</tr>
			
			<tr>
				<th colspan="4" scope="row" class="view_text">
					<textarea title="내용" id="contents" name="contents" th:text="${boardDto.contents}"></textarea>
				</th>
			</tr>
			
		</tbody>
	</table>
	  <input type="hidden" name="_method" id="method">
	  
	</form>
	
	<div class="file_list" th:each="list : ${boardDto.fileList}">
	<!-- Thymeleaf에서는 기호를 사용해 변수와 고정된 문자열을 혼합하여 출력 -->
		<a style="float:left" th:href="@{/board/file(idx=${list.idx},boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName}(${list.fileSize} kb)|"></a>
		<form th:method="delete" th:action="@{/board/file(idx=${list.idx}, boardIdx=${list.boardIdx})}">
		<input type="submit" id="delete_file" th:value="파일삭제" >
		</form>
	</div>
	
	<input type="button" id="list" value="목록"/>
	<input type="button" id="edit" value="수정"/>
	<input type="button" id="delete" value="삭제"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!--<script type="text/javascript">

		document.querySelector("#list").addEventListener("click", function(){
			alert("dd");
			location.href="list";			
		});
		
		document.querySelector("#edit").addEventListener("click", function(){
			
			let frm = document.querySelector('#frm');
			alert("수정");
			frm.action = "updateboard";
			frm.submit();			
		});
		
		document.querySelector("#delete").addEventListener("click", function(){
			alert("삭제");
			let frm = document.querySelector('#frm');
			frm.action = "deleteboard";
			frm.submit();			
		});
		
	</script>
	-->
	 <script type="text/javascript">
            $(document).ready(function(){
            	
                $("#list").on("click", function(){
                    location.href = "list";
                });

                $("#edit").on("click", function(){
                	alert("수정 클릭 ")
                    var frm = $("#frm")[0];
                    frm.action = "updateboard";
                    frm.submit();
                });

                $("#delete").on("click", function(){
                	$("input:hidden[name=_method]").val("delete");
                    var frm = $("#frm")[0];
                    frm.action = "/board/"+$("input:hidden[name=boardIdx]").val();
                    frm.submit();
                });
            })
        </script>
        <!-- ADD END -->
</div>

</body>
</html>